DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:54322/postgres"

API_URL="http://localhost:8000"
APP_URL="http://localhost:3000"

SUPABASE_URL="http://127.0.0.1:54321"
SUPABASE_PUBLISHABLE_KEY=""
SUPABASE_SECRET_KEY=""

POSTHOG_API_KEY=
POSTHOG_HOST="https://eu.i.posthog.com"

ADMIN_BEARER_TOKEN=""